@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.slider1 {
  background: linear-gradient(0deg, #000000b5, #00000096), url("./assets/slider1.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.slider2 {
  background: linear-gradient(0deg, #000000b5, #00000096), url("./assets/slider2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.slider3 {
  background: linear-gradient(0deg, #000000b5, #00000096), url("./assets/slider3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
